* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: #542583;
  padding-inline: 16px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 16px;
}

.lakers {
  width: 50px;
}

.nba {
  width: 40px;
}

.lakers,
.nba {
  cursor: pointer;
}

.nav-container {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: end;
}

.nav-container p {
  width: fit-content;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-align: center;
}

.nav-container p a {
  transition: all 0.2s ease-in-out;
}

.nav-container p a:hover {
  color: #fdb827;
  transition: all 0.1s ease-in-out;
}

.nav-container a:link,
.nav-container a:visited {
  color: white;
  text-decoration: none;
}

.carousel-1 {
  width: 100%;
  margin-bottom: 16px;
}

.side-list-container {
  width: 253px;
  height: fit-content;
  display: flex;
  position: sticky;
  top: 60px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 8px;
}

.side-list {
  display: flex;
  position: sticky;
  top: 60px;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 24px;
}

.title-container {
  display: flex;
  width: 225px;
  height: fit-content;
  gap: 8px;
}

.coaches .title-container {
  flex-direction: row-reverse;
}

.title-text {
  text-align: center;
  width: 75px;
  line-height: 0px;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
}

.coaches .title-container {
  margin-inline-start: auto;
}

.side-data {
  display: flex;
}

.coaches p {
  text-align: start;
}
.coaches > .side-list > .side-data {
  flex-direction: row-reverse;
}

.side-images {
  height: 75px;
}

a.side-images img {
  height: 75px;
}

.name-role {
  display: flex;
  flex-direction: column;
  opacity: 0%;
  transition: all 0.3s ease-in-out;
  padding-inline: 8px;
}

.name-role-container {
  margin-block: auto;
}

.side-list:hover .name-role {
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}

.side-images:hover + a p {
  color: #fdb827;
  transition: all 0.2s ease-in-out;
}

.name-role:hover p {
  color: #fdb827;
  transition: all 0.2s ease-in-out;
}

.name,
.role {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  margin: 2px;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.2s ease-in-out;
}

.coaches .name,
.coaches .role {
  margin-inline-start: auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.news {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-block: 0px;
}

.date-author {
  display: flex;
  gap: 8px;
}

.date-author + img {
  width: 85%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}

article {
  border-bottom: 0.5px solid black;
}

article > img {
  width: 800px;
}

article > p {
  text-indent: 32px;
  text-align: justify;
  line-height: 24px;
}

footer {
  display: flex;
  background-color: #542583;
  width: 100%;
  height: fit-content;
  padding-inline: 24px;
  padding-block: 24px;
  justify-content: center;
  color: white;
  margin-top: -1px;
}

.created-by {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-block: auto;
}

footer h1 {
  font-size: 1.5rem;
  font-family: "Condensed Roboto", sans-serif;
}

footer p {
  font-size: 0.8rem;
  font-weight: 300;
}

footer h1,
footer p {
  margin-block: auto;
}

.social-media {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: end;
  margin-block: auto;
  gap: 16px;
  flex-direction: row-reverse;
}

footer a i {
  color: white;
  font-size: 2rem;
  margin-block: auto;
  transition: all 0.2s ease-in-out;
}

footer a i:hover {
  color: #fdb827;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1350px) {
  .name-role {
    display: none;
  }
  .title-container {
    width: fit-content;
  }
  .side-list-container {
    width: fit-content;
  }
  .news h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1030px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }

  .news h1 {
    font-size: 2.5rem;
  }

  .side-data {
    height: 95px;
  }

  .side-images {
    margin-block-end: auto;
  }

  .side-list-container,
  .side-list {
    position: initial;
    top: initial;
    margin-inline: auto;
    width: 100%;
  }

  .side-list {
    flex-direction: row;
  }

  .side-list-container {
    padding-inline: 24px;
    padding-block: 8px;
    justify-content: space-between;
    width: fit-content;
    gap: 0px;
  }

  .coaches > .side-list > .side-data {
    flex-direction: row;
  }

  .name,
  .role {
    margin: 0px;
    width: 50px;
  }

  .news {
    order: 999;
    padding-inline: 24px;
    margin-top: 24px;
  }
  .name-role,
  .title-container {
    display: flex;
    opacity: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .side-list-container {
    width: 100%;
  }
  .side-list {
    overflow: auto;
    padding-inline: 16px;
  }
  .news h1 {
    font-size: 2rem;
  }

  .side-list-container {
    padding-inline: 0px;
  }

  header .nav-container {
    gap: 16px;
  }
}
